svg {
    display: block;
    padding-top: 2px;
    /*border: 1px solid #fff;*/
}


.panel {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.panel svg{ 
    margin: auto; 
    display: block; 
    position: absolute; 
    top: 25vh; 
    left: 25vw;
}

.panel.rocket { background:  #09627e; }
.panel.gears { background:   #229c94; }
.panel.chart { background:   #f77541; }
